body {
    font-family: 'Arial', sans-serif;
}

input, textarea, button {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}

.container {
    width: 1000px;
    margin: 0px 0px 65px 0px;
}

.header-wrapper {
    height: 101px;
    background: #f2f2f2;
    padding: 0px 50px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 4px -4px #cfcfcf;
}

.header {
    padding: 55px 0px 0px 1px;
}

.controlbox {
    float: left;
}

.controlbox-button-new,
.controlbox-button-refresh {
    background: #0472c7;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: bold;
    border: none;
    outline: none;
    text-shadow: 0px 2px 1px #01528c;
    margin: 0px 8px 0px 0px;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    padding: 0px 11px;
    box-shadow: 0px 1px 1px 0px #bdbdbd;
    cursor: pointer;
}

.controlbox-button-new:active,
.controlbox-button-new:disabled {
    background: #025da3;
    color: #c1cfe0;
    text-shadow: none;
}

.searchbox {
    float: right;
    background: url(../images/search.png) 0px 7px no-repeat;
    padding-left: 22px;
}

.searchbox-input,
.fastbox-input,
.editbox-input-title,
.editbox-input-date,
.editbox-input-participants,
.editbox-input-details {
    margin: 0px;
    outline: none;
    display: block;
    border: none;
    border-radius: 2px;
    padding: 0px 9px;
    box-shadow: #b0b0b0 0px 1px 2px 1px inset;
}

.searchbox-input,
.fastbox-input,
.editbox-input-title,
.editbox-input-date,
.editbox-input-participants {
    height: 26px;
}

.searchbox-input {
    width: 180px;
}

.fastbox {
    display: none;
    position: absolute;
    background: #fff;
    left: 50px;
    top: 97px;
    box-shadow: 0px 1px 4px 1px #cfcfcf;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 24px 24px 0px 21px;
    z-index: 1;
}

.fastbox:after {
    content: '';
    border: solid #ccc;
    border-width: 1px 1px 0px 0px;
    background: #fff;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -8px;
    box-shadow: 2px -2px 4px -2px #ccc;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fastbox-input {
    width: 240px;
    margin-bottom: 8px;
}

.fastbox-button-create {
    margin: 0px 0px 24px 0px;
}

.fastbox-button-close,
.editbox-button-close {
    position: absolute;
    font-size: 15px;
    top: 0px;
    right: 0px;
    color: #a1a1a1;
    background: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    cursor: pointer;
}

.content {
    padding: 0px 50px;
}

.datebox {
    margin: 15px 0px 13px;
}

.datebox-button-prev,
.datebox-button-next,
.datebox-current-month,
.datebox-button-today {
    display: inline-block;
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
}

.datebox-button-prev,
.datebox-button-next,
.datebox-button-today {
    box-shadow: #bfbfbf 0px 0px 2px 1px inset;
    border-radius: 4px;
    cursor: pointer;
}

.datebox-button-prev,
.datebox-button-next {
    width: 17px;
}

.datebox-button-today {
    color: #666;
    padding: 0px 4px;
    font-size: 12px;
}

.datebox-button-prev:after,
.datebox-button-next:after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    display: inline-block;
    position: relative;
    left: 7px;
    top: -2px;
}

.datebox-button-prev:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #666; 
}

.datebox-button-next:after {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #666; 
}

.datebox-current-month {
    padding: 0px 1px;
}

.calendar {
    border-collapse: collapse;
    color: #999;
    font-size: 12px;
}

.cell {
    width: 127px;
    height: 117px;
    border: 1px solid #e0e0e0;
}

.cell-wrapper {
    padding: 7px;
    width: 113px;
    height: 103px;
}

.cell-reminder {
    background: #c2e3fc;
}

.cell-today {
    background: #f2f2f2;
    font-weight: bold;
}

.cell-current {
    background: #e4eff7;
}

.cell-current .cell-wrapper {
    border: 2px solid #86c9fc;
    padding: 5px;
}

.cell-date {
}

.cell-title {
    margin-top: 5px;
    font-weight: bold;
}

.cell-participants {
    margin-top: 5px;
}

.resultsbox-wrapper {
    display: none;
    position: absolute;
    background: #fff;
    left: 752px;
    top: 97px;
    width: 210px;
    height: 383px;
    box-shadow: 0px 1px 4px 1px #cfcfcf;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.resultsbox-wrapper:after {
    content: '';
    border: solid #ccc;
    border-width: 1px 1px 0px 0px;
    background: #fff;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -8px;
    left: 20px;
    box-shadow: 2px -2px 4px -2px #ccc;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.resultsbox {
    width: 210px;
    height: 383px;
    overflow: hidden;
}

.resultsbox-hidden-scroll {
    width: 200%;
    height: 383px;
    overflow-y: scroll;
}

.resultsbox-custom-scroll {
    position: absolute;
    width: 7px;
    height: 24px;
    border-radius: 4px;
    background: #787878;
    top: 0px;
    right: 7px;
    cursor: pointer;
    margin: 10px 0px;
}

.resultsbox-results {
    width: 190px;
}

.resultsbox-result {
    border-bottom: 1px solid #ebebeb;
    margin-left: 8px;
    cursor: pointer;
}

.resultsbox-result:last-child {
    border-bottom: none;
}

.resultsbox-result-title {
    margin-top: 4px;
    margin-left: -4px;
    padding-left: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
} 

.resultsbox-result-date {
    margin-bottom: 3px;
    margin-left: -4px;
    padding-left: 8px;
    height: 20px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
}

.resultsbox-result:hover .resultsbox-result-title,
.resultsbox-result:hover .resultsbox-result-date {
    background: #29a2ff;
    color: #fff;
}

.editbox {
    display: none;
    position: absolute;
    background: #fff;
    left: 445px;
    top: 250px;
    box-shadow: 0px 1px 4px 1px #cfcfcf;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 24px 22px;
}

.editbox:after {
    content: '';
    border: solid #ccc;
    border-width: 0px 0px 1px 1px;
    background: #fff;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -8px;
    top: 20px;

    box-shadow: -2px 2px 4px -2px #ccc;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.editbox-input-title,
.editbox-input-date {
    width: 250px;
    margin-bottom: 5px;
}

.editbox-input-title {
    font-size: 15px;
}


.editbox-input-participants {
    width: 250px;
    margin-bottom: 35px;
}

.editbox-input-details {
    padding: 5px 9px;
    width: 250px;   
    height: 115px;
    margin-bottom: 22px;
    font-family: 'Arial', sans-serif;
}